* {
  box-sizing: border-box;
}
/*--------Nav------*/

#header-nav {
	background-color: grey;
	border-radius: 0;
	border-bottom: 3px solid black;
	padding: 25px;
}


.navbar-brand h1 {
	position: relative;

	font-weight: bold;
	float: left;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.custom-toggler.navbar-toggler { 
    border: 2px solid black; 
        } 

.custom-toggler.navbar-toggler:hover, .custom-toggler.navbar-toggler:focus,  .custom-toggler.navbar-toggler:active{
    border: 2px solid white; 

}        
 .custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

 .custom-toggler .navbar-toggler-icon:hover,  .custom-toggler .navbar-toggler-icon:focus, .custom-toggler .navbar-toggler-icon:active{
 	 background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 

 }

.nav-link{
	text-align: center;
}

/*--------Body Content------*/

h1.menu {
	text-align: center;
	margin: 50px auto;
}
h3 {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin: 10px 0;
}
.row {
	margin: 10px;
}
.menuContainter {
	background-color: grey; 
	padding: 25px;
	margin: 10px 10px 10px 0;
	overflow: hidden;
	max-height: 700px;
}